<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List of containers:</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Container Name</th>
        <th>Container Type</th>
        <th class="text-center">Start/Stop</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Backup</th>
      </tr>
      </thead>
      <tbody *ngFor="let container of containers; let index = index;">
      <tr>
        <th scope="row">{{index+1}}</th>
        <td>{{container.name}}</td>
        <td>{{container.type}}</td>
        <td class="text-center">
          <button class="btn btn-success btn-xs" (click)="startContainer(index)" *ngIf="containerStatus[index]==0">Start</button>
          <button class="btn btn-danger btn-xs" (click)="stopContainer(index)" *ngIf="containerStatus[index]==1">Stop</button>
        </td>
        <td class="text-center">
          <button class="btn btn-danger btn-xs" (click)="deleteContainer(index)">Delete</button>
        </td>
        <td class="text-center">
          <button class="btn btn-primary btn-xs" (click)="backupContainer(index)">Back up</button>
          {{backupTime[index]}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
