<div class="panel panel-default" xmlns:Name="http://www.w3.org/1999/xhtml">
  <div class="panel-heading">
    <h3 class="panel-title">List of containers:</h3>
  </div>
  <div class="panel-body">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Container Name</th>
        <th>Container Type</th>
        <th class="text-center">Start/Stop</th>
        <th class="text-center">Delete</th>
        <th class="text-center">Backup</th>
        <th class="text-center">Info</th>
      </tr>
      </thead>
      <tbody *ngFor="let container of containers; let index = index;">
        <tr>
          <th scope="row">{{index+1}}</th>
          <td><a href="{{container.link}}">{{container.name}}</td>
          <td>{{container.type}}</td>
          <td class="text-center">
            <button class="btn btn-success btn-xs" (click)="startContainer(index)" *ngIf="container.state==0 && !changeState[index]">Start</button>
            <button class="btn btn-danger btn-xs" (click)="stopContainer(index)" *ngIf="container.state==1 && !changeState[index]">Stop</button>
            <button class="btn btn-primary btn-xs" [disabled]="true" *ngIf="changeState[index]">
              <i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i>
              <span>Waitting...</span>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-danger btn-xs" (click)="deleteContainer(index)">Delete</button>
          </td>
          <td class="text-center">
            <button class="btn btn-primary btn-xs" (click)="backupContainer(index)">Back up</button>
            {{backupTime[index]}}
          </td>
          <td class="text-center">
            <button class="btn btn-primary btn-xs" (click)="showInfo(index)">Monitoring</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="panel panel-info" *ngIf="infoShow">
  <div class="panel-heading">
    <h3 class="panel-title">Check container info:</h3>
  </div>
  <div class="panel-body">
    <p>
      <span style="font-weight: bold">Name: </span>
      <span>{{containerCible.name}}</span>
    </p>
    <p>
      <span style="font-weight: bold">Container ID: </span>
      <span>{{containerCible.id}}</span>
    </p>
    <p>
      <span style="font-weight: bold">Type: </span>
      <span>{{containerCible.type}}</span>
    </p>
    <p>
      <span style="font-weight: bold">State: </span>
      <span *ngIf="containerCible.state == 1">Activated</span>
      <span *ngIf="containerCible.state == 0">Disabled</span>
    </p>
  </div>
</div>
